.principles {
    position: relative;
    padding: 50px 0 60px;
    z-index: 1;
    @media only screen and (max-width: $md) {
        padding: 20px 0 30px;
    }
    &::before {
        content: '';
        width: 191px;
        height: 670px;
        position: absolute;
        background-image: url('/../assets/img/scheme-bg--left.png');
        background-repeat: no-repeat;
        left: 0;
        top: -160px;
        z-index: -1;
        @media only screen and (max-width: $md) {
            content: none;
        }
    }
    &::after {
        content: '';
        width: 197px;
        height: 670px;
        position: absolute;
        background-image: url('/../assets/img/scheme-bg--right.png');
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        z-index: -1;
        @media only screen and (max-width: $md) {
            content: none;
        }
    }
    &__img {
        position: relative;
        max-width: 100%;
        height: auto;
        @media only screen and (max-width: $sm) {
            display: none;
        }
        &--mob {
            display: none;
            @media only screen and (max-width: $sm) {
                display: block;
            }
        }
    }
    &__p, &__list-title, &__item {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        color: $grey;
        letter-spacing: 0.02em;
        margin: 0 auto;
        max-width: 920px;
        @media only screen and (max-width: $sm) {
            font-size: 14px;
            line-height: 1.7em;
        }
    }
    &__list {
        margin-bottom: 30px ;
    }
    &__item {
        position: relative;
        &::before {
            content: '\2022';
        }
    }
    &__h3 {
        max-width: 850px;
        width: 100%;
        margin: 50px auto 40px;
        text-align: center;
        color: $grey;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.02em;
        @media only screen and (max-width: $sm) {
            text-align: left;
            line-height: 1.7em;
        }
    }
}
