<section class="section principles" id="principles">
    <div class="container">
	    <div class="title">
		    <h2>
			    Принцип работы ИТП
		    </h2>
	    </div>
	    <div class="principles__list-title">
	        Горячая вода, поступающая на дом из котельных, проходит через индивидуальный тепловой пункт (ИТП). ИТП, в состав которого входит контроллер, регулирует уровень теплопотребления по заранее заданным параметрам:
	    </div>
	    <ul class="principles__list">
	        <li class="principles__item"> регулирование в зависимости от тепловой нагрузки и теплотехнических свойств здания/помещения;</li>
	        <li class="principles__item"> регулирование в зависимости от температуры на улице;</li>
	        <li class="principles__item"> регулирование работы циркуляционных насосов для обеспечения непрерывной циркуляции теплоносителя во внутренней системе отопления (переключение насосов рабочий/резервный, например, раз в неделю).</li>
	    </ul>
	    <p class="principles__p">
	        Индивидуальные тепловые пункты выпускаются в виде готовых модульных блоков и становятся все более востребованными. Они обеспечивают качественное отопление и горячее водоснабжение, при этом помогая потребителям существенно экономить. Как правило, установка ИТП позволяет сэкономить 35% расходов на тепло.
	    </p>
	    <h3 class="principles__h3">
	        Пример принципиальной схемы системы отопления с установкой регулирующей арматуры
	        и циркуляционных насосов на обратном трубопроводе системы отопления
	    </h3>
	    <img src="./assets/img/scheme.png" alt="Схема работы ИТП" class="principles__img">
	    <img src="./assets/img/scheme--mob.png" alt="Схема работы ИТП" class="principles__img principles__img--mob">

    </div>
</section>