<div class="section iqenergy" id="iqenergy">
  <div class="container">
    <div class="iqenergy__row iqenergy__title-row">
      <div class="iqenergy__col-6-1 iqenergy__title">
        SEMPAL - УЧАСТНИК ПРОГРАММЫ
      </div>
      <div class="iqenergy__col-6-1">
        <img src="/assets/img/iq2.png" alt="slide1" class="iqenergy__img">
      </div>
    </div>
    <div class="iqenergy__row iqenergy__row2">
      <div class="iqenergy__col-6">
        <p>Это значит, что при заказе ультразвукового счетчика SEMPAL у Вас есть возможность получить компенсацию на покупку и установку оборудования в размере</p>
        <h4 class="iqenergy__title-row iqenergy__pers">35-40%</h4>
      </div>
      <div class="iqenergy__col-6">
        <p>Программа IQ Energy разработана Европейским банком реконструкции и развития при поддержке Евросоюза.</p>
        <i class="fas fa-angle-down"></i>
        <p>Ее цель: повышение энергоэффективности в жилищном секторе Украины.</p>
        <i class="fas fa-angle-down"></i>
        <p>IQ Energy сотрудничает с украинскими производителями энергосберегающего оборудования, которое: </p>
        <ul>
          <li>соответствует европейским стандартам качества</li>
          <li>повышает энергоэффективность минимум на 20% по</li>
          <li>сравнению с аналогичным оборудованием на украинском рынке</li>
        </ul>
      </div>
    </div>
    <!--<div class="iqenergy__text">-->
      <!--<div>-->
        <!--<a style="display: block; border: 2px solid white; box-shadow: 4px 0px 15px 5px rgba(0,0,0,0.17);" class="btn btn__cyan btn_center btn__orange modules__btn" target="_blank" href="http://www.iqenergy.org.ua/">-->
          <!--ПОДРОБНЕЕ О ПРОГРАММЕ-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
<div class="energy">
  <h4>3 ШАГА К ЭКОНОМИИ С IQ ENERGY</h4>
  <div class="energe-mobile">
    <div class="energy__row">
      <div class="energe-mobile__6">ВЫ</div>
      <div class="energe-mobile__6">МЫ</div>
    </div>
  </div>
  <div class="energy0 energy-container">
    <div class="container">
      <div class="energy__row energy__row_0">
        <div class="col-18 col-dop">
          <div class="circle circle_0 circle-move">вы</div>
        </div>
        <p class="col-27">заказываете оборудование SEMPAL</p>
        <div class="col-18">
          <div class="circle circle_3">шаг 1</div>
        </div>
        <p class=" col-27">рассчитываем стоимость с учетом установки и монтажных работ</p>
        <div class="col-18 col-dop">
          <div class="circle circle_2 circle-move">мы</div>
        </div>
      </div>
      <i class="fas fa-angle-down energy-down"></i>
    </div> 
  </div> 
  <div class="energy1 energy-container">
    <div class="container">
      <div class="energy__row energy__row_0">
        <div class="col-18 col-dop">
        </div>
        <p class="col-27">оформляете с нашей помощью кредит в банке-партнере на покупку продукции</p>
        <div class="col-18">
          <div class="circle circle_3">шаг 2</div>
        </div>
        <p class=" col-27">устанавливаем оборудование</p>
        <div class="col-18 col-dop">
        </div>
      </div>
      <i class="fas fa-angle-down energy-down"></i>
    </div> 
  </div>
  <div class="energy2 energy-container">
    <div class="container">
      <div class="energy__row energy__row_0">
        <div class="col-18 col-dop">
        </div>
        <p class="col-27">регистрируетесь на сайте программы и оставляете заявку на получение компенсации</p>
        <div class="col-18">
          <div class="circle circle_3">шаг 3</div>
        </div>
        <p class=" col-27">помогаем заполнить форму заявки и предоставляем необходимую для этого подтверждающую документацию</p>
        <div class="col-18 col-dop">
        </div>
      </div>
    </div> 
  </div>
</div>
<button type="button" class="btn energy__btn btn__orange btn_center" onclick="openPopup(1); gtag ( 'event', 'sdelat\' pervyj shag pryamo sejchas', {'Event_category': 'button'});">
  СДЕЛАТЬ ПЕРВЫЙ ШАГ ПРЯМО СЕЙЧАС
</button>