.iqenergy {
  padding-top: 50px;
  padding-bottom: 40px;
  background: $orange;
  @media only screen and (max-width: $sm) {
    padding: 0px 20px 30px;
  }
  &__title-row {
    // box-shadow: 4px 0px 15px 5px rgba(0,0,0,0.17);
    padding: 30px 20px;
    border-radius: 20px;
    text-align: right;
    @media only screen and (max-width: $sm) {
      box-shadow: none;
      padding: 40px 0 0;
    }

  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
  &__col-6 {
    flex: 0 0 50%;
    padding: 20px;
    @media only screen and (max-width: $sm) {
      flex: 0 0 100%;
      padding: 15px 0;
    }
  }
  &__col-6-1 {
    flex: 0 0 50%;
    @media only screen and (max-width: $sm) {
      flex: 0 0 100%;
    }
  }
  &__col-7 {
    flex: 0 0 60%;
    padding: 0 20px;
    @media only screen and (max-width: $sm) {
      flex: 0 0 100%;
      padding: 15px 0;
    }
  }
  &__col-5 {
    flex: 0 0 40%;
    padding: 0 20px;
    @media only screen and (max-width: $sm) {
      flex: 0 0 100%;
      padding: 15px 0;
    }
  }

  &__title {
    font-family: inherit;
    font-size: 36px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    @media only screen and (max-width: $sm) {
      font-size: 15px;
    }
  }

  &__text {
    padding: 20px;
    @media only screen and (max-width: $sm) {
      padding: 15px;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
  h4 {
    font-family: $OpenSans;
    font-size: rem-calc(20);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
  }
  p {
    font-family: $OpenSans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 12px;
  }
  a {
    display: inline-block;
  }
  &__pers {
    font-size: rem-calc(90) !important;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 65px;
    @media only screen and (max-width: $sm) {
      margin-top: 0;
      font-size: rem-calc(50) !important;
      padding: 0;
      
    }
  }
  &__row2 {
    padding-top: 10px;
    @media only screen and (max-width: $sm) {
      padding-top: 15px;
    }
  }
  ul {
    list-style: disc;
    margin-left: 20px;
    li {
      font-family: $OpenSans;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.02em;
      color: white;
      margin-bottom: 12px;
    }
  }
  .fa-angle-down {
    text-align: center;
    font-size: 26px;
    color: white;
    display: block;
    margin: 0 auto;
  }
  .fa-angle-down2 {
    text-align: center;
    font-size: 40px;
    color: white;
    display: block;
    margin: 10px auto 20px;
  }
}

.energy {
  margin-top: 70px;
  h4 {
    margin: 30px 0 20px;
    font-family: $OpenSans;
    font-size: rem-calc(20);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.2em;
    color: grey;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
  }
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &_0 {
      padding: 35px 0 10px;
    }
  }
  &__btn {
    margin: 50px auto;
    max-width: 400px;  
  }
}

.energy0 {
  border-top: 1px solid $orange;
  background-color: rgba(226,67,7, 0.4);
}
.energy1 {
  border-top: 1px solid $orange;
  background-color: rgba(226,67,7, 0.4)
}
.energy2 {
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  background-color: rgba(226,67,7, 0.4)
}

.energy-container {
  transition: 0.5s;
  &:hover {
    background-color: rgba(226,67,7, 0.2);
    .circle {
      background-color: rgba(226,67,7, 0.7);
      color: white;
    }
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
  font-family: $OpenSans;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 12px;
  border: 1px solid $orange;
  border-radius: 50%;
  font-weight: 800;
  transition: 0.5s;
  box-shadow: 4px 0px 15px 5px rgba(226,67,7, 0.2);
  &_0, &_2 {
    border-color: $orange;
    text-transform: uppercase;
    background: $orange;
  }
  &_3 {
    border: 1px solid $orange;
    background: white;
    color: $orange;
  }
  @media only screen and (max-width: $sm) { 
    width: 70px;
    height: 70px;
    font-size: 12px;
    justify-content: center;
    margin: 0 auto;
  }
}

.col-18 {
  flex: 0 0 14%;
  @media only screen and (max-width: $md) {
    flex: 0 0 50%;
  }
  @media only screen and (max-width: $sm) {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
.col-27 {
  flex: 0 0 29%;
  padding: 0 20px;
  @media only screen and (max-width: $md) {
    flex: 0 0 50%;
  }
  @media only screen and (max-width: $sm) {
    flex: 0 0 33.33%;
    padding: 0 5px;
    max-width: 33.33%;
  }
}

.col-dop {
  @media only screen and (max-width: $sm) {
    flex: 0 0 0;
  }
}

.energy-down {
  text-align: center;
  font-size: 36px;
  color: $orange;
  display: block;
  margin: 0 auto;
  padding: 0 45px 20px 0;
  @media only screen and (max-width: $sm) {
    padding: 0 0 20px 0;
  }
}

.circle-move {
  position: relative;
  transition: 0.5s;
  pointer-events: none;
  @media only screen and (max-width: $sm) {
    display: none;
  }
}

.energe-mobile {
  display: none;
  &__6 {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: white;
    font-size: 24px;
    font-weight: 600;
  }
  @media only screen and (max-width: $sm) {
    display: block;
    background: $orange;
    
   }
  
}