.faq {
  padding: 25px 0 50px;
  @media only screen and (max-width: $md) {
    padding: 25px 0;
  }
  .title {
    h2 {
      margin-bottom: 40px;
    }
  }
  .accordion {
    a {
      position: relative;
      display: flex;
      flex-direction: column;
      font-family: $Montserrat;
      width: 100%;
      color: $grey;
      font-size: 16px;
      font-weight: 700;
      border-top: 1px solid #edeff2;
      border-bottom: 1px solid #edeff2;
      padding: 15px 19% 5px 8%;
      line-height: 1.5em;
      letter-spacing: 0.1em;
      @media only screen and (max-width: $md) {
        padding: 15px 55px 5px 3px;
        letter-spacing: 0;
      }
      @media only screen and (max-width: $sm) {
        font-size: 14px;
        line-height: 1.7em;
        padding-right: 30px;
      }
      &:hover {
       cursor: pointer;
      }
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        right: 6%;
        top: calc(50% - 7.5px);
        transform: rotate(-45deg);
        border-bottom: 6px solid $deep-sea-green;
        border-right: 6px solid $deep-sea-green;
        border-radius: 2px;
        transition: all .3s ease;
        @media only screen and (max-width: $sm) {
          right: 3px;
        }
      }
      &.active {
        &::after {
          transform: rotate(45deg);
        }
      }
    }
    .content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      position: relative;
      line-height: 1.5em;
      letter-spacing: 0.1em;
      transition: all 0.2s ease 0.15s;
      p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16px;
        padding: 15px 8%;
        width: 100%;
        color: $grey;
        @media only screen and (max-width: $md) {
          padding: 15px 3px;
          letter-spacing: 0;
        }
        @media only screen and (max-width: $sm) {
          font-size: 14px;
          line-height: 1.7em;
        }
      }
      &.active {
        opacity: 1;
        max-height: 100%;
        transition: all 0.35s ease 0.15s;
      }
    }
  }


}