<section class="section intro">
    <div class="container intro__container">
        <div class="intro__content">
            <h1>
                Индивидуальный<br>
                тепловой пункт<br> 
                (ИТП)
            </h1>
            <div class="intro__p">
	            ИТП – это модульный блок для автоматизированного регулирования теплопотребления. С его помощью можно на 35% сократить расходы на оплату тепла:
            </div>
            <ul class="intro__list">
                <li class="intro__item">
	                в многоквартирных жилых домах
                </li>
                <li class="intro__item">
	                в школах, больницах, ВУЗах
                </li>
                <li class="intro__item">
	                в административных и офисных зданиях на промышленных и сельскохозяйственных объектах
                </li>
            </ul>
            <a href="#popup" class="btn btn__red intro__btn" onclick="openPopup(3); gtag ( 'event', 'zakazat', {'Event_category': 'button'});">
	            ПРЕИМУЩЕСТВА
            </a>
        </div>
        <div class="intro__imgContainer">
            <img src="./assets/img/model.png" alt="model">
        </div>
    </div>
</section>