.intro {
    height: 680px;
    background-image: url('/../assets/img/intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    @media only screen and (max-width: $md) {
        height: auto;
        padding-bottom: 50px;
    }
    @media only screen and (max-width: $sm) {
        background-image: url('/../assets/img/intro--mob.jpg');
        padding-top: 80px;
        padding-bottom: 80px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
            z-index: 0;
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        padding: 50px 15px 0;
        flex-wrap: wrap;
        @media only screen and (min-width: $sm) and (max-width: $md) {
            width: 750px;
        }
        @media only screen and (max-width: $sm) {
            padding: 30px 15px 0;
            z-index: 25;
            position: relative;
        }
    }
    &__content {
        width: 60%;
        font-family: $Montserrat;
        @media only screen and (max-width: $md) {
            width: 50%;
        }
        @media only screen and (max-width: $sm) {
            width: 100%;
        }
        h1 {
            font-weight: 700;
            font-size: rem-calc(50);
            line-height: 1.4;
            color: $white;
            text-transform: uppercase;
            @media only screen and (max-width: $md) {
                font-size: 24px;
                line-height: 2em;
                br {
                    display: none;
                }
            }
            @media only screen and (max-width: $sm) {
                font-size: 18px;
                line-height: 1.33em;
                letter-spacing: 0;
                margin-bottom: 25px;
            }
        }
    }
    &__p {
        margin-top: 20px;
        font-size: rem-calc(18);
        font-weight: 400;
        color: $white;
        line-height: 30px;
        max-width: 500px;
        @media only screen and (max-width: $md) {
            font-size: 14px;
            margin-top: 0;
            max-width: 315px;
        }
        @media only screen and (max-width: $sm) {
            display: none;
        }
    }
    &__item {
        font-size: rem-calc(18);
        font-weight: 400;
        color: $white;
        line-height: 30px;
        max-width: 500px;
        position: relative;
        &::before{
            content: '\2022';
            font-size: 18px;
        }
        @media only screen and (max-width: $md) {
            font-size: 14px;
        }
        @media only screen and (max-width: $sm) {
            display: none;
        }
    }
    &__list {
        list-style: none;
    }
    &__imgContainer {
        width: 40%;
        position: relative;
        right: -40px;
        @media only screen and (max-width: $lg1) {
            right: 0;
        }
        @media only screen and (max-width: $md) {
            width: 40%;
            margin-left: auto;
            margin-right: 0;
        }
        @media only screen and (max-width: $sm) {
            width: 100%;
        }
        img {
            width: 100%;
            @media only screen and (max-width: $sm) {
                width: 60%;
                display: block;
                margin: 0 auto;
            }
        }
    }
    &__btn {
        display: inline-block;
        margin-top: 35px;
        font-size: rem-calc(16);
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: rem-calc(16 50);
        @media only screen and (max-width: $sm) {
            display: block;
            position: absolute;
            left: 50%;
            bottom: -100px;
            text-align: center;
            margin: 0 auto;
            transform: translateX(-50%);
        }
    }
}