.advantages {
    position: relative;
    padding: 20px 0 50px;
    .container {
        padding: 0;
    }
    h2 {
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        font-family: $OpenSans;
        font-size: rem-calc(24);
        font-weight: 700;
        color: $grey;
        letter-spacing: 0.1em;
        @media screen and (max-width: 1024px) {
            margin-top: 0;
        }
        @media only screen and (max-width: $sm) {
            margin-bottom: 26px;
        }
    }
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.box {
    padding: 0 15px 15px;
    width: 25%;
    @media only screen and (max-width: $md) {
        width: 50%;
    }
    border-right: 1px solid $cyan;
    &:last-child {
        border: 0;
    }
    @media only screen and (max-width: $md) {
        margin-top: 50px;
        &:nth-child(2) {
            border: 0;
        }
    }
    @media only screen and (max-width: $sm) {
        border: 0;
        width: 100%;
        margin-top: 20px;
    }
    &__header {
        position: relative;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: $sm) {
            height: 140px;
        }
    }
    &:nth-child(1) {
        .box__img {
            height: 86px;
            @media only screen and (max-width: $sm) {
                height: 60px;
            }
        }
    }
    &:nth-child(2) {
        .box__img {
            height: 84px;
            @media only screen and (max-width: $sm) {
                height: 60px;
            }
        }
    }
    &:nth-child(3) {
        .box__img {
            height: 73px;
            @media only screen and (max-width: $sm) {
                height: 60px;
            }
        }
    }
    &:nth-child(4) {
        .box__img {
            height: 52px;
            @media only screen and (max-width: $sm) {
                height: 45px;
            }
        }
    }
    &__img {
        width: auto;
    }
    &__square {
        position: absolute;
        display: block;
        top: 23px;
        left: 0;
        right: 0;
        height: 130px;
        width: 130px;
        border: 3px solid $cyan;
        margin: 0 auto;
        transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
        transition-duration: 0.3s;
        transition-timing-function: ease;
        &:hover {
            transform: rotate3d(0,0,1,45deg) scale3d(1.1,1.1,1);
        }
        @media only screen and (max-width: $sm) {
            height: 100px;
            width: 100px;
        }
    }
    &__headline {
        margin-top: 13px;
        margin-bottom: 16px;
        text-align: center;
        text-transform: uppercase;
        font-family: $OpenSans;
        font-size: rem-calc(18);
        font-weight: 700;
        line-height: 1.33;
        letter-spacing: 0.02em;
        color: $cyan;
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        -webkit-padding-start: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    &__item, &__p {
        font-family: $OpenSans;
        font-size: rem-calc(16);
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: $grey;
        margin-bottom: 12px;
    }
}
