<section class="section advantages" id="advantages">
    <div class="container">
        <h2>
            Преимущества
        </h2>
        <div class="advantages__row">
            <div class="box">
                <div class="box__header">
                    <div class="box__square"></div>
                    <img src="./assets/img/svg/economy.svg" alt="economy" class="box__img">
                </div>
                <div class="box__headline">
                    ЭКОНОМИЯ РАСХОДОВ <br> ДО 50%
                </div>
                <ul class="box__list">
                    <li class="box__item">
                        &#8226; Автоматическое погодное регулирование подачи тепла в зависимости от температуры наружного воздуха уменьшает теплопотребление на 20-50%.
                    </li>
                    <li class="box__item">
                        &#8226; Программа встроенного регулятора обеспечивает рациональную подачу тепла по заданному графику в ночное время, выходные и праздничные дни.
                    </li>
                    <li class="box__item">
                        &#8226; Установка ИТП исключает перетопы в весенний и осенний период.
                    </li>
                </ul>
            </div>
            <div class="box">
                <div class="box__header">
                    <div class="box__square"></div>
                    <img src="./assets/img/svg/garanty.svg" alt="economy" class="box__img">
                </div>
                <div class="box__headline">
                    Гарантия от<br> производителя
                </div>
                <div class="box__p">
                    SEMPAL гарантирует бесплатное устранение любых неисправностей, возникших по вине изготовителя на протяжении первого года эксплуатации оборудования.
                </div>
            </div>
            <div class="box">
                <div class="box__header">
                    <div class="box__square"></div>
                    <img src="./assets/img/svg/key.svg" alt="economy" class="box__img">
                </div>
                <div class="box__headline">
                    Установка<br> «под ключ»
                </div>
                <ul class="box__list">
                    <li class="box__item">
                        &#8226; Мы выполняем полный комплекс проектных, производственных, монтажных и пуско-наладочных работ, обеспечивая контроль за всеми процессами.
                    </li>   
                    <li class="box__item">
                        &#8226; Все работы от обследования Вашего объекта до сдачи Индивидуального теплового пункта в эксплуатацию занимают до 2-х месяцев.
                    </li>
                </ul>
            </div>
            <div class="box">
                <div class="box__header">
                    <div class="box__square"></div>
                    <img src="./assets/img/svg/ukraine.svg" alt="economy" class="box__img">
                </div>
                <div class="box__headline">
                    Обслуживание по<br> всей Украине
                </div>
                <div class="box__p">
                    SEMPAL обеспечивает проектирование, поставку, монтаж и пуско-наладку ИТП в любой точке Украины.
                </div>
            </div>
        </div>
    </div>
</section>