.modules {
  padding: 55px 0 0;
  h4 {
    margin-bottom: 35px;
    text-align: center;
    text-transform: uppercase;
    font-family: $OpenSans;
    font-size: rem-calc(24);
    font-weight: 700;
    color: $grey;
    letter-spacing: 0.1em;
  }
  p {
    font-family: $OpenSans;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: $grey;
    max-width: 980px;
    margin: 0 auto 12px;
    @media only screen and (max-width: $md) {
      line-height: 1.875em;
    }
    @media only screen and (max-width: $sm) {
      margin: 0;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 100%;
    border: 3px solid $deep-sea-green;
    padding: 40px 60px 30px;
    box-shadow: 0px 13px 40px 0px rgba(9, 36, 38, 0.2);
    margin: 40px 0;
    @media only screen and (max-width: $md) {
      margin: 40px 0 35px;
      padding: 40px 20px;
      max-width: 100%;
      width: 100%;
    }
    @media only screen and (max-width: $sm) {
      padding: 15px 15px 20px;
      margin: 30px 0;
      flex-direction: column-reverse;
    }
  }
  &__col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    @media only screen and (max-width: $sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__title2 {
    font-family: $Montserrat;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 1.5;
    color: $grey;
    margin-bottom: 35px;
    position: relative;
    @media only screen and (max-width: $sm) {
      margin-bottom: 20px;
    }
  }
  &__item,
  &__p {
    font-family: $Montserrat;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 1.5;
    color: $grey;
    margin-bottom: 12px;
  }
  &__item{
    position: relative;
    &::before{
      content: '\2022';
    }
    @media only screen and (max-width: $md) {
      margin-bottom: 5px;
    }
  }
  &__p {
    margin-bottom: 30px
  }
  &__btn-wrapper {
    text-align: center;
    margin: 50px 0;
    a {
      display: inline-block;
    }
  }
  &__btn {
    text-transform: uppercase;
  }
}

.modulesSlider {
  @media only screen and (max-width: $sm) {
    margin-bottom: 20px;
  }
  &__item {
    padding: 0 15px;
  }
  &__img {
    max-height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%
  }
}

//.clients {
//  padding: 55px 0;
//  h4 {
//    margin-bottom: 35px;
//    text-align: center;
//    text-transform: uppercase;
//    font-family: $OpenSans;
//    font-size: rem-calc(24);
//    font-weight: 700;
//    color: $grey;
//    letter-spacing: 0.1em;
//  }
//  &__row {
//    display: flex;
//    flex-direction: row;
//    flex-wrap: wrap;
//  }
//  &__col {
//    width: 20%;
//    @media only screen and (max-width: $md) {
//      width: 33.33%;
//    }
//    @media only screen and (max-width: $sm) {
//      width: 100%;
//      margin-bottom: 25px;
//    }
//  }
//  &__text {
//    margin-top: 10px;
//    font-family: $OpenSans;
//    font-size: rem-calc(14);
//    font-weight: 400;
//    line-height: 1.7;
//    color: $grey;
//    letter-spacing: 0.1em;
//    text-align: center;
//    padding: 0 15px;
//  }
//  &__img {
//    width: 100%;
//  }
//  @media only screen and (max-width: $sm) {
//    &__img {
//      display: block;
//      width: 50%;
//      margin: 0 auto;
//    }
//  }
//}

.homeSlider {
  position: relative;
  &__item {
    padding: 0 15px;
  }
  &__img {
    height: 130px;
    width: auto;
    display: block;
    margin: 0 auto;
  }
  h5 {
    font-family: $OpenSans;
    font-size: rem-calc(14);
    font-weight: 400;
    line-height: 1.7;
    color: $grey;
    letter-spacing: 0.1em;
    text-align: center;
  }
  &__btn {
    height: 50px;
    width: 50px;
    position: absolute;
    top: calc(50% - 25px);
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover {
      opacity: 0.75;
    }
    &_left {
      left: -20px;
      background: white;
      z-index: 50;
      border-radius: 50%;
      @media only screen and (max-width: $md) {
        right: 53%;
        left: auto;
        z-index: 25;
        top: 100%;
      }
    }
    &_right {
      right: -20px;
      background: white;
      z-index: 50;
      border-radius: 50%;
      @media only screen and (max-width: $md) {
        left: 53%;
        right: auto;
        z-index: 25;
        top: 100%;

      }
    }
  }
}


.slick-arrow {
  @media only screen and (max-width: $sm) {
    display: none !important;
  }
}

.order-top {
  order: -1;
  margin-bottom: 50px;
}



