<section class="section modules" id="modules">
  <div class="container">
    <p class="modules__p">
	    Индивидуальные тепловые пункты выпускаются в виде готовых модульных блоков и становятся все более востребованными. Они обеспечивают качественное отопление и горячее водоснабжение, при этом помогая потребителям существенно экономить. Как правило, установка ИТП позволяет сэкономить 35% расходов на тепло.
    </p>

    <div class="modules__row">
      <div class="modules__col-6">
        <div class="modules__title2">
          В состав модульного теплового блока входят:
        </div>
        <ul class="modules__list">
          <li class="modules__item"> контроллер С-11</li>
          <li class="modules__item"> шкаф автоматизации</li>
          <li class="modules__item"> регулирующая арматура с электроприводом</li>
          <li class="modules__item"> циркуляционные насосы</li>
          <li class="modules__item"> регулятор перепада давления</li>
          <li class="modules__item"> теплообменники</li>
          <li class="modules__item"> датчики температуры</li>
          <li class="modules__item"> запорная арматура</li>
          <li class="modules__item"> контрольно-измерительные приборы</li>
        </ul>
      </div>
      <div class="modules__col-6">
        <div class="modulesSlider">
          <div class="modulesSlider__item">
            <img src="/assets/img/slide1.jpg" alt="slide1" class="modulesSlider__img">
          </div>
          <div class="modulesSlider__item">
            <img src="/assets/img/slide2.jpg" alt="slide1" class="modulesSlider__img">
          </div>
          <div class="modulesSlider__item">
            <img src="/assets/img/slide3.jpg" alt="slide1" class="modulesSlider__img">
          </div>
          <div class="modulesSlider__item">
            <img src="/assets/img/slide4.jpg" alt="slide1" class="modulesSlider__img">
          </div>
          <div class="modulesSlider__item">
            <img src="/assets/img/slide5.jpg" alt="slide1" class="modulesSlider__img">
          </div>
          <div class="modulesSlider__item">
            <img src="/assets/img/slide6.jpg" alt="slide1" class="modulesSlider__img">
          </div>
        </div>
      </div>
    </div>
    <p class="modules__p">
	    Перечень оборудования, которое устанавливается в модульном пункте, зависит от схем подключения системы отопления и горячего водоснабжения, параметров теплоносителя и режимов потребления тепловой энергии. При необходимости ИТП может быть укомплектован ультразвуковым тепловодосчетчиком нашего производства.
	    Специалисты SEMPAL подбирают оборудование в индивидуальном порядке для каждого клиента, с учетом его потребностей и возможностей.
    </p>
  </div>
</section>