<section class="section clients" id="clients">
    <div class="title">
	    <h2>
		    Список клиентов
	    </h2>
    </div>
    <div class="container-fluid">
        <div class="clients__row">
            <div class="clients__col">
                <img src="assets/img/clients1.jpg" alt="client" class="clients__img">
                <div class="clients__text">
                    Детские сады и школы. Лубны
                </div>
            </div>
            <div class="clients__col">
                <img src="assets/img/clients2.jpg" alt="client2" class="clients__img">
                <div class="clients__text">
                    Жилой фонд. Киев, Черкассы, Краматорск
                </div>
            </div>
            <div class="clients__col">
                <img src="assets/img/clients3.jpg" alt="client3" class="clients__img">
                <div class="clients__text">
                    Школы, больницы, поликлиники. Житомир, Винница
                </div>
            </div>
            <div class="clients__col">
                <img src="assets/img/clients4.jpg" alt="client4" class="clients__img">
                <div class="clients__text">
                    АТБ. Харьков и Харьковская область
                </div>
            </div>
            <div class="clients__col">
                <img src="assets/img/clients5.jpg" alt="client5" class="clients__img">
                <div class="clients__text">
                    Укрпочта. Винница, Полтава, Кировоград
                </div>
            </div>
        </div>
    </div>
</section>