.clients {
    padding: 55px 0;
    @media only screen and (max-width: $sm) {
        padding: 30px 0;
    }
    .title{
        h2{
            margin-bottom: 35px;
        }
    }
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media only screen and (max-width: $md) {
            flex-wrap: nowrap;
            min-width: 100%;
            overflow: scroll;
        }
    }
    &__col {
        width: 20%;
        @media only screen and (max-width: $md) {
            width: 40%;
            flex-shrink: 0;
        }
        @media only screen and (max-width: $sm) {
            width: 46%;
            margin-bottom: 25px;
        }
    }
    &__text {
        margin-top: 10px;
        font-family: $OpenSans;
        font-size: rem-calc(14);
        font-weight: 400;
        line-height: 1.7;
        color: $grey;
        letter-spacing: 0.1em;
        text-align: center;
        padding: 0 15px;
        @media only screen and (max-width: $sm) {
            letter-spacing: 0;
            padding: 0 5px;
        }
    }
    &__img {
        width: 100%;
    }
    @media only screen and (max-width: $sm) {
        &__img {
            display: block;
            margin: 0 auto;
        }
    }
}