.footer {
    border-top: 4px solid $deep-sea-green;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #707070;
    @media only screen and (max-width: $md) {
        min-height: 70px;
        height: 100%;
        text-align: left;
        padding: 20px 0 15px;
        .container {
            margin: 0;
            width: 100%;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media only screen and (max-width: $md) {
            align-items: flex-start;
            justify-content: flex-start;
        }
        @media only screen and (max-width: $sm) {
            flex-direction: column-reverse;
            width: 100%;
        }

    }
    &__copyright {
        font-family: $OpenSans;
        font-weight: 400;
        font-size: rem-calc(12);
        letter-spacing: 0.2em;
        color: $white;
        @media only screen and (max-width: $sm) {
            text-align: left;
        }
    }
    a {
        color: $white;
        transition-duration: 0.3s;
        &:hover {
            opacity: 0.75;
        }
    }
}