<footer class="footer">
    <div class="container">
        <div class="footer__row">
            <div class="footer__copyright">
                &#169; Copyrights <span id="currentYear"></span> 
                by <a target = "blank" href="http://www.sempal.com/">SEMPAL</a> 
            </div>
            <div class="contacts-social">
                <a target="_blank" href="https://www.youtube.com/channel/UCW9sfd3Bn1Z8Vbf5vjpYsvQ">
                    <i class="fab fa-youtube"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/Sempalcom/?timeline_context_item_type=intro_card_work&timeline_context_item_source=100009229772752&pnref=lhc">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a target="_blank" href="https://t.me/joinchat/AAAAAEsbx0Z24VvrIt_asQ">
                    <i class="fab fa-telegram"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/2489532/">
                    <i class="fab fa-linkedin"></i>
                </a> 
            </div>
        </div>
    </div>
</footer>