.header {
    background-color: $white;
    border-bottom: 5px solid $deep-sea-green;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    padding: 0;
    @media only screen and (max-width: $md) {
        padding: 10px 0;
    }
    @media only screen and (max-width: $sm) {
        padding: 15px 0;
    }
    &__hidden-number {
        display: none;
        a {
            font-family: $Montserrat;
            font-weight: 700;
            letter-spacing: 0.1em;
            font-size: 18px;
            color: $deep-sea-green;
            &:hover {
                opacity: .8;
            }
        }
        @media only screen and (max-width: $md) {
            display: block;
        }
        @media only screen and (max-width: $xs) {
            display: none;
        }
    }
    &__row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 83px;
        @media only screen and (max-width: $md) {
            height: auto;
            flex-wrap: wrap;
        }
    }
    &__mobile {
        display: none;
        @media only screen and (max-width: $md) {
           display: block;
           width: auto;
        }
        @media only screen and (max-width: $sm) { 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
        &--tel {
            margin-top: 10px;
            display: inline-block;
            @media only screen and (max-width: $sm) { 
                margin-top: 0;
            }
            a {
                font-family: $OpenSans;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                color: $cyan;
                letter-spacing: 0.2em;
                @media only screen and (max-width: $sm) { 
                    font-size: 10px;
                }
            }
           
        }
    }
    &__menu {
        float: right;
    }
}
.main {
    margin-top: 88px;
    @media only screen and (max-width: $md) { 
        margin-top: 80px;
    }   
    @media only screen and (max-width: $sm) { 
        margin: 0;
    } 
}
.nav {
    @media only screen and (max-width: $md) {
        width: 100%;
        max-width: 300px;
        position: fixed;
        top: 88px;
        left: 0;
        height: 100%;
        background: rgba(12, 92, 99,.85);
        color: $white;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition-duration: 0.5s;
        padding-bottom: 10px;
        &--visible {
            opacity: 1;
            visibility: visible;
        }
    }
    @media only screen and (max-width: $sm) { 
        top: 68px;
    }
    @media only screen and (max-width: $sm) and (orientation: landscape) {
        overflow: auto;
        bottom: 0;
    }
    @media only screen and (max-width: $xs) {
        max-width: none;
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        margin-right: rem-calc(28);
        &:last-child {
            margin-right: 0;
        }
        @media only screen and (max-width: $md) {
            display: block;
            text-align: center;
            padding: 15px 0;
            margin: 0 30%;
            border-bottom: 1px solid $white;
            &:last-child {
                border: 0;
                margin-left: 0;
            }
        }
    }
    &__link {
        font-family: $Montserrat;
        font-size: rem-calc(11);
        font-weight: 700;
        text-transform: uppercase;
        color: $deep-sea-green;
        letter-spacing: 0.2em;
        position: relative;
        @media only screen and (max-width: $lg1) {
            font-size: 10px;
        }
        @media only screen and (max-width: $md) {
            color: $white;
            font-size: 11px;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            width: 0;
            height: 1px;
            background-color: $deep-sea-green;
            transition-duration: 0.3s;
            transition-timing-function: ease;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        } 
    }
}
.logo {
    &__img {
        width: 193px;
        height: 62px;
        @media only screen and (max-width: $sm) {
            width: 102px;
            height: auto;
        }
    }
}
.humburger {
    height: 25px;
    width: 25px;
    position: relative;
    margin-top: 8px;
    @media only screen and (max-width: $sm) { 
        margin-top: 0;
        height: 20px;
    }
    span {
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: 10px;
        background-color: $deep-sea-green;
        transition-duration: 0.5s;
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2) {
            top: 10px;
        }
        &:nth-child(3) {
            top: 20px;
        }
    }
    &--active {
        span {
            background-color: $deep-sea-green;
            &:nth-child(1) {
                top: 10px;
                transform: rotate3d(0,0,1,-45deg);
            }
            &:nth-child(2) {
                top: 10px;
                opacity: 0;
            }
            &:nth-child(3) {
                top: 10px;
                transform: rotate3d(0,0,1,45deg);
            }
        }

    }
}