<header class="header">
    <div class="container header__row">
        <div class="logo">
            <a href="#main" class="logo__link">
                <img src="./assets/img/logo.svg" alt="logo" class="logo__img" />
            </a>
        </div>
	    <div class="header__hidden-number">
		    <a href="tel:+380672345023">
			    +38 (067) 234 - 50 - 23
		    </a>
	    </div>
        <div class="header__mobile">
            <div class="header__menu">
                <div class="humburger" onclick="openMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <nav class="nav">
            <h3 class="hidden__title">Навигация - Индивидуальный тепловой пункт Sempal</h3>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#main" class="nav__link" onclick="gtag ( 'event', 'glavnaya', {'Event_category': 'button'});">
                        ГЛАВНАЯ
                    </a>
                </li>
	            <li class="nav__item">
		            <a href="#advantages" class="nav__link" onclick="gtag ( 'event', 'preimushchestva', {'Event_category': 'button'});">
			            ПРЕИМУЩЕСТВА
		            </a>
	            </li>
	            <li class="nav__item">
		            <a href="#schemeOfWork" class="nav__link" onclick="gtag ( 'event', 'skhema raboty', {'Event_category': 'button'});">
			            СХЕМА РАБОТЫ
		            </a>
	            </li>
	            <li class="nav__item">
		            <a href="#whyUs" class="nav__link" onclick="gtag ( 'event', 'pochemu my', {'Event_category': 'button'});">
			            ПОЧЕМУ МЫ
		            </a>
	            </li>
	            <li class="nav__item">
		            <a href="#clients" class="nav__link" onclick="gtag ( 'event', 'klienty', {'Event_category': 'button'});">
			            КЛИЕНТЫ
		            </a>
	            </li>
	            <li class="nav__item">
		            <a href="#aboutUs" class="nav__link" onclick="gtag ( 'event', 'o nas', {'Event_category': 'button'});">
			            О НАС
		            </a>
	            </li>

	            <li class="nav__item">
		            <a href="#contacts" class="nav__link" onclick="gtag ( 'event', 'kontakty', {'Event_category': 'button'});">
			            КОНТАКТЫ
		            </a>
	            </li>
            </ul>
        </nav>
    </div>
</header>