<section class="section itpfunctions" id="itpfunctions">
    <div class="container">
	    <div class="title">
		    <h2>
			    основные функции ИТП
		    </h2>
	    </div>
        <div class="itpfunctions__row">
			<div class="itpfunctions__box">
				<div class="itpfunctions__img">
				</div>
				<p class="itpfunctions__p">
					автоматически регулирует подачу тепла на объекте: жилом доме, здании, предприятии.
				</p>
			</div>
			<div class="itpfunctions__box">
				<div class="itpfunctions__img">
				</div>
				<p class="itpfunctions__p">
					﻿позволяет изменять параметры теплоносителя и распределять тепловую энергию в системах отопления и горячего водоснабжения в зависимости от температуры наружного воздуха (погодное регулирование теплоносителя)  и/или временных параметров (уменьшение подачи теплоносителя в ночное время и на выходных или в нерабочие часы);				</p>
			</div>

			<div class="itpfunctions__box">
				<div class="itpfunctions__img">
				</div>
				<p class="itpfunctions__p">
					﻿обеспечивает качественное отопление и горячее водоснабжение в разных частях здания, улучшает циркуляцию тепла и воды;
				</p>
			</div>

			<div class="itpfunctions__box">
				<div class="itpfunctions__img">
				</div>
				<p class="itpfunctions__p">
					контролирует подачу тепла по заданной программе (в зависимости от специфики работы организации - возможность уменьшать подачу теплоносителя в нерабочие часы);
				</p>
			</div>

			<div class="itpfunctions__box">
				<div class="itpfunctions__img">
				</div>
				<p class="itpfunctions__p">
					﻿﻿позволяет удаленно регулировать настройки подачи тепла;				</p>
			</div>

			<div class="itpfunctions__box">
				<div class="itpfunctions__img">
				</div>
				<p class="itpfunctions__p">
					при обеспечении необходимой температуры во внутридомовой системе, циркуляция теплоносителя происходит во внутреннем контуре без потребления острого теплоносителя (острый теплоноситель в минимальном количестве всегда поступает в систему отопления), что позволяет существенно снизить потребление тепловой энергии и достичь экономии энергоресурсов.				</p>
			</div>
        </div>
    </div>
</section>