.itpfunctions {
    position: relative;
    padding: 30px 0 50px;
    @media only screen and (max-width: $md) {
        padding: 20px 0 10px;
    }
    .title {
        h2 {
            margin-bottom: 40px;
        }
    }
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__img {
        position: relative;
        min-height: 60px;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        @media only screen and (max-width: $sm) {
            margin-bottom: 30px;
            min-height: 30px;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: all .3s ease;
        }
        &::before {
            width: 30px;
            height: 30px;
            background: $alizarin-crimson;
            @media only screen and (max-width: $sm) {
                width: 12px;
                height: 12px;
            }
        }
        &::after {
            width: 50px;
            height: 50px;
            background: transparent;
            border: 5px solid $deep-sea-green;
            @media only screen and (max-width: $sm) {
                width: 28px;
                height: 28px;
            }
        }

    }

    &__box {
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 30.7%;
        width: 100%;
        margin-bottom: 25px;
        &:hover {
            .itpfunctions__img {
                &::before, &::after {
                    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
                }
            }
        }
        @media only screen and (max-width: $md) {
            max-width: 50%;
        }
        @media only screen and (max-width: $sm) {
            max-width: 100%
        }
    }
    &__p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        color: $grey;
        letter-spacing: 0.02em;
        @media only screen and (max-width: $sm) {
            font-size: 14px;
            line-height: 1.7em;
        }
    }

}
