<section class="section aboutus" id="aboutUs">
    <div class="title">
	    <h2>
		    О нас
	    </h2>
    </div>
    <div class="container">
        <div class="aboutus__box">
	        <p>
		        С 1992 года SEMPAL производит энергоэффективное оборудование для учета и регулирования тепловой энергии и воды. Благодаря высокому профессионализму наших сотрудников, уникальным техническим решениям и собственным разработкам мы предлагаем нашим клиентам современные многофункциональные индивидуальные тепловые пункты. Наши ИТП надежно работают в реальных условиях эксплуатации, легко настраиваются и быстро окупаются.
		        <br>
	            На сегодняшний день индивидуальные тепловые пункты SEMPAL установлены на жилых домах, школах, больницах, административных зданиях и промышленных предприятиях Украины. Качество нашего оборудования подтверждено европейскими стандартами ISO 9001:2015, ISO 14001:2015 и OHSAS 18001:2007.
	        </p>
        </div>
    </div>
</section>