.aboutus {
    padding: 65px 0 100px;
    background-image: url('/../assets/img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    @media only screen and (max-width: $md) {
        padding: 50px 0 30px;
    }
    @media only screen and (max-width: $sm) {
        padding-top: 0;
    }
    &__box {
        margin: 0 25px;
        padding: 30px;
        border: 3px solid $deep-sea-green;
        background-color: rgba(255,255,255,0.7);
        @media only screen and (max-width: $sm) {
            margin: 0;
            padding: 30px 15px 25px;
        }

    }
    p {
        font-family: $OpenSans;
        font-size: rem-calc(16);
        line-height: 1.5;
        font-weight: 400;
        color: $grey;
        letter-spacing: 0.1em;
        margin-bottom: 35px;
        text-indent: 15px;
        &:last-child {
            margin: 0;
        }
        @media only screen and (max-width: $sm) {
            line-height: 1.7em;
        }
    }
}