<div class="callforms" id="formId">
    <div class="callforms__call" id="order">
        <div class="form">
            <div class="form__title">
                ЗАКАЗАТЬ Индивидуальный тепловой пункт
            </div>
            <div id="requestOrder"></div>
            <form onsubmit="orderForm(event)" id="formOrder" class="form__form">
                <label class="form__label" for="nameOrder">Введите ваше имя:</label>
                <input class="form__input" type="text" id="nameOrder" placeholder="Имя и фамилия" required>
                <label class="form__label" for="telOrder">Введите ваш телефон:</label>
                <input class="form__input" type="tel" id="telOrder" placeholder="+38 (0--) --- -- --" required>
                <label class="form__label" for="emailOrder">Введите ваш e-mail:</label>
                <input class="form__input" type="email" id="emailOrder" placeholder="e-mail" required>
                <input style="display:none;" type="text" name="honeypot" id="HU-honeypot">
                <button type="submit" class="btn btn__red form__btn" onClick="gtag ( 'event', 'otpravit 1', {'Event_category': 'button'});">
	                ОФОРМИТЬ ЗАКАЗ
                </button>
            </form>
        </div>
    </div>
    <div class="callforms__consultation">
        <div class="callforms__box">
            <div class="callforms__tagline">
                <h5>Хотите узнать больше о нашей продукции или бонусной программе?</h5>
                <p>Закажите консультацию и наш менеджер свяжется с Вами в ближайшее время</p>
            </div>
            <button type="button" class="btn btn__cyan callforms__btn" onclick="openPopup(1); gtag ( 'event', 'zakazat\' konsul\'taciyu', {'Event_category': 'button'});">
                заказать консультацию
            </button>
        </div>
    </div>
	<div class="callforms__consultation callforms__consultation--hidden">
		<div class="callforms__box">
			<div class="callforms__tagline">
				<h5>ЗАКАЗАТЬ <br>
					КОНСУЛЬТАЦИЮ</h5>
			</div>
			<button type="button" class="btn btn__cyan callforms__btn" onclick="openPopup(1); gtag ( 'event', 'zakazat\' konsul\'taciyu', {'Event_category': 'button'});">
				ПРОКОНСУЛЬТИРОВАТЬСЯ
			</button>
		</div>
	</div>
</div>