.callforms {
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__call {
        width: 53%;
        background-image: url('/../assets/img/call.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @media only screen and (max-width: $lg1) {
            width: 50%;
        }
        @media only screen and (max-width: $md) {
            width: 100%;
        }
    }
    &__box {
        width: 445px;
        padding: 50px 50px 30px;
        margin-right: auto;
        text-align: center;
        @media only screen and (max-width: $md) {
            width: 100%;
            margin: 0 auto;
            padding: 30px 15px;
        }
    }
    &__consultation {
        width: 47%;
        @media only screen and (max-width: $md) {
            margin: 0 auto;
            width: 100%;
            display: none;
        }
        &--hidden {
            display: none;
            @media only screen and (max-width: $md) {
                display: block;
            }
        }
    }
    &__tagline {
        h5 {
            font-family: $Montserrat;
            font-size: 24px;
            line-height: 1.5em;
            font-weight: 700;
            color: $deep-sea-green;
            padding-bottom: 20px;
        }
        p {
            font-family: $Montserrat;
            font-size: 16px;
            line-height: 2.25em;
            font-weight: 400;
            color: $deep-sea-green;
            padding-bottom: 20px;
        }
    }
    &__btn {
        font-family: $Montserrat;
        display: block;
        margin: 15px auto 0;
        font-size: rem-calc(16);
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: rem-calc(16 30);
        background: transparent;
        color: $deep-sea-green;
        border-color: $deep-sea-green;
        &:hover {
            background: $deep-sea-green;
            color: $white;
            border-color: $deep-sea-green;
        }
    }
}
.form {
    margin: 35px 15px;
    background-color: rgba(12, 92, 99, 0.8);
    border-radius: 0;
    width: 380px;
    margin-left: auto;
    padding: 15px;
    position: relative;
    @media only screen and (max-width: $sm) {
        width: 100%;
        margin: 0 auto;
        padding: 30px 15px 30px 15px;
    }
    #requestOrder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background-color: $cyan;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-family: $Montserrat;
        font-size: rem-calc(18);
        line-height: 1.75;
        font-weight: 400;
        text-align: center;
        color: $white;
        opacity: 0;
        z-index: -1;
        transition-delay: 0.4s;
        transition-duration: 0.3s;
        b {
            font-weight: 700;
        }
    }
    .requestOrder--active {
        opacity: 1 !important;
        z-index: 10 !important;
    }
    &__form {
        transition: 0.3s;
        &--hide {
            opacity: 0;
        }
    }
    &__title {
        text-transform: uppercase;
        font-family: $Montserrat;
        font-size: rem-calc(24);
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: 0.2em;
        text-align: center;
        color: $white;
        margin-bottom: 34px;
    }
    &__input {
        display: block;
        border: 0;
        font-family: $Montserrat;
        font-size: rem-calc(14);
        font-weight: 400;
        color: $cyan;
        padding: 10px 18px;
        border-radius: 2px !important;
        background-color: #ccdad2;
        width: 100%;
        margin-bottom: 25px;
        @media only screen and (max-width: $md) {
            font-size: 16px;
        }
        @media only screen and (max-width: $sm) {
            padding: 11px 18px 10px;
        }
        &::-webkit-input-placeholder {
            color: $cyan;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: $cyan;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: $cyan;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $cyan;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
    }
    &__label {
        display: block;
        margin-left: 10px;
        text-transform: uppercase;
        font-family: $Montserrat;
        font-size: rem-calc(14);
        font-weight: 400;
        letter-spacing: 0.2em;
        color: $white;
        margin-bottom: 10px;
    }
    &__btn {
        font-family: $Montserrat;
        display: block;
        width: 100%;
        margin: 15px auto 0;
        font-size: rem-calc(16);
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: rem-calc(16 50);
    }
}