.co-financing {
    position: relative;
    padding: 65px 0 25px;
    @media only screen and (max-width: $md) {
        padding: 40px 0 15px;
    }
    .title {
        h2 {
            margin-bottom: 40px;
        }
    }
    &__p {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5em;
        color: $grey;
        letter-spacing: 0.02em;
        margin: 0 auto;
        max-width: 920px;
        @media only screen and (max-width: $sm) {
            font-size: 14px;
            line-height: 1.7em;
            letter-spacing: .01em;
        }
    }
    .content {
        min-height: 470px;
        display: flex;
        justify-content: space-between;
        position: relative;
        background-image: linear-gradient( -108deg, rgb(196,236,241) 0%, rgb(234,253,255) 100%);
        padding: 40px 95px 35px 60px;
        margin-bottom: 35px;
        @media only screen and (max-width: $md) {
            min-height: auto;
            padding: 40px 20px 35px;
        }
        @media only screen and (max-width: $xs) {
            flex-direction: column;
        }
        &__img {
            position: absolute;
            left: 50%;
            bottom: -1px;
            transform: translateX(-50%);
            @media only screen and (max-width: $md) {
                img {
                    max-width: 510px;
                }
            }
            @media only screen and (max-width: $xs) {
                width: 100%;
                height: auto;
                bottom: auto;
                top: 160px;
                display: none;
                img {
                    max-width: 100%;
                    max-height: 330px;
                    margin: 0 auto;
                }
            }
            &--tab {
                display: none;
                @media only screen and (max-width: $xs) {
                    display: block;
                }
            }
        }
        &__title {
            font-family: $Montserrat;
            font-weight: 700;
            font-size: 24px;
            color: $deep-sea-green;
            text-transform: uppercase;
            position: relative;
            letter-spacing: 0.1em;
            margin-bottom: 25px;
            z-index: 1;
            @media only screen and (max-width: $md) {
                font-size: 18px;
                margin-bottom: 15px;
            }
            @media only screen and (max-width: $xs) {
                font-size: 14px;
            }

        }
        &__percent {
            font-family: $Montserrat;
            font-weight: 700;
            font-size: 72px;
            color: $red;
            position: relative;
            margin-bottom: 10px;
            z-index: 1;
            @media only screen and (max-width: $md) {
                font-size: 48px;
            }
            @media only screen and (max-width: $xs) {
                font-size: 36px;
            }
            &--small {
                font-size: 36px;
                @media only screen and (max-width: $md) {
                    font-size: 24px;
                }
            }
            & + .content__title {
                margin-bottom: 45px;
                @media only screen and (max-width: $md) {
                    margin-bottom: 25px;
                }
                &--mob {
                    @media only screen and (max-width: $xs) {
                        text-align: right;
                        margin-bottom: 170px;
                    }
                }

            }
            &:last-of-type {
                margin-bottom: 0;
            }
            &--mob {
                @media only screen and (max-width: $xs) {
                    text-align: right;
                }
            }

        }
        &__block {
            &--left {
                padding-top: 40px;
                @media only screen and (max-width: $md) {
                    padding-top: 0;
                }
                @media only screen and (max-width: $xs) {
                    &:nth-child(3) {
                        text-align: right;

                    }
                }
            }
            &--right {
                text-align: right;
            }
        }
    }
}
