<section class="section co-financing" id="co-financing">
    <div class="container">
	    <div class="title">
		    <h2>
			    Государственные программы софинансирования
		    </h2>
	    </div>
	    <div class="content">
		    <div class="content__block content__block--left">
				<div class="content__percent">
					60-70%
				</div>
			    <div class="content__title">
				    ОПЛАЧИВАЕТ <br>
				    ГОРОДСКАЯ ВЛАСТЬ
			    </div>
			    <div class="content__percent content__percent--mob">
				    30-40%
				</div>
			    <div class="content__title content__title--mob">
				    ЖИЛЬЦЫ
			    </div>
		    </div>
		    <div class="content__img">
			    <img src="./assets/img/co-img.png" alt="Картинка контента">
		    </div>
		    <div class="content__img content__img--tab">
			    <img src="./assets/img/co-img--tab.png" alt="Картинка контента">
		    </div>

		    <div class="content__block content__block--right">
			    <div class="content__title">
				    программа<br>
				    софинансирования
			    </div>
			    <div class="content__percent content__percent--small">
				    30-40/60-70
			    </div>
		    </div>
	    </div>
	    <!--<p class="co-financing__p">-->
		    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
	    <!--</p>-->
	    <!--<p class="co-financing__p">-->
		    <!--Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.-->
	    <!--</p>-->

    </div>
</section>