.contacts {
    background-image: url('/../assets/img/footer__bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: $Montserrat;
    text-align: center;
    font-weight: 700;
    &__title {
        text-transform: uppercase;
        font-size: rem-calc(24);
        letter-spacing: 0.1em;
        color: $white;
        padding: 50px 0 40px;
    }
    &__tel {
        display: block;
        text-transform: uppercase;
        font-size: rem-calc(14);
        line-height: 1.5;
        letter-spacing: 0.1em;
        color: $white;
        margin-bottom: 20px;
        transition-duration: 0.3s;
        &:hover {
            opacity: 0.75;
        }
        @media only screen and (max-width: $sm) {
            font-size: 1.5rem;
        }
    }
    &__btn {
        font-family: $Montserrat;
        font-weight: 700;
        text-transform: uppercase;
        padding: 15px 45px;
        font-size: rem-calc(16);
        letter-spacing: 0.2em;
        margin: 30px 0 50px;
        &:hover {
            background-color: $deep-sea-green;
            border-color: $deep-sea-green;
        }
    }
}

.contacts-social {
    display: flex;
    justify-content: center;
    a {
        display: block;
        margin: 0 15px;
    }
    i {
        font-size: rem-calc(26);
        color: $white;
    }
    @media only screen and (max-width: $md) {
        display: none;
    }
    @media only screen and (max-width: $sm) {
        display: flex;
        margin: 0 auto 25px;
    }
}