<section class="section contacts" id="contacts">
    <h4 class="contacts__title">
        КОНТАКТЫ
    </h4>
    <a href="tel:+380443372877" class="contacts__tel binct-phone-number-1">
	    (044) 337-28-77
    </a>
    <a href="tel:+380673330342" class="contacts__tel binct-phone-number-2">
	    (067) 333-03-42
    </a>
    <a href="tel:+380503129222" class="contacts__tel binct-phone-number-3">
	    (050) 312-92-22
    </a>
    <button type="button" class="btn btn__white contacts__btn" onclick="openPopup(2); gtag ( 'event', 'zakazat\' zvonok', {'Event_category': 'button'});">
        ЗАКАЗАТЬ ЗВОНОК
    </button>
</section>



