<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Индивидуальный тепловой пункт Sempal</title>
<meta name="description" content="ИТП Sempal – это модульный блок для регулирования теплопотребления жилых и офисных зданий, школ, больниц, объектов промышленности и сельского хозяйства. Снижает расходы до 35%.">
<meta name="keywords" content="Индивидуальный, тепловой, пункт, Sempa, блочный, индивидуальный, тепловой, пункт, цена, автоматизовані, ітп">

{{!-- meta og --}}
<meta property="og:title" content="Индивидуальный тепловой пункт Sempal" />
<meta property="og:description" content="ИТП Sempal – это модульный блок для регулирования теплопотребления жилых и офисных зданий, школ, больниц, объектов промышленности и сельского хозяйства. Снижает расходы до 35%.">
<meta property="og:image" content="/img/og.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:image:alt" content="Индивидуальный тепловой пункт Sempal" />

{{!-- facicon --}}
<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/img/favicon/manifest.json">
<link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113775617-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113775617-1');
</script>