<section class="section ourproducts" id="ourproducts">
    <div class="container">
	    <div class="title">
		    <h2>
			    Для кого наша продукция
		    </h2>
	    </div>
        <div class="ourproducts__row">
			<div class="ourproducts__box">
				<div class="ourproducts__img">
					<img src="./assets/img/ourproducts__img--1.png" alt="Многоквартирные дома">
				</div>
				<p class="ourproducts__p">
					Многоквартирные дома <br>
					(жилой и нежилой фонд)
				</p>
			</div>
			<div class="ourproducts__box">
				<div class="ourproducts__img">
					<img src="./assets/img/ourproducts__img--2.png" alt="Административные и общественные здания">
				</div>
				<p class="ourproducts__p">
					﻿Административные и общественные <br> здания
				</p>
			</div>

			<div class="ourproducts__box">
				<div class="ourproducts__img">
					<img src="./assets/img/ourproducts__img--3.png" alt="ТЭЦ и котельные">
				</div>
				<p class="ourproducts__p">
					﻿ТЭЦ и котельные
				</p>
			</div>

			<div class="ourproducts__box">
				<div class="ourproducts__img">
					<img src="./assets/img/ourproducts__img--4.png" alt="Водоканалы">
				</div>
				<p class="ourproducts__p">
					Водоканалы
				</p>
			</div>

			<div class="ourproducts__box">
				<div class="ourproducts__img">
					<img src="./assets/img/ourproducts__img--5.png" alt="Промышленные предприятия">
				</div>
				<p class="ourproducts__p">
					﻿﻿Промышленные предприятия
				</p>
			</div>

			<div class="ourproducts__box">
				<div class="ourproducts__img">
					<img src="./assets/img/ourproducts__img--6.png" alt="Сельскохозяйственные объекты">
				</div>
				<p class="ourproducts__p">
					Сельскохозяйственные объекты
				</p>
			</div>
        </div>
    </div>
</section>