.ourproducts {
    position: relative;
    padding: 50px 0 50px;
    @media only screen and (max-width: $md) {
        padding: 30px 0;
    }
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__img{
        position: relative;
        display: flex;
        min-height: 148px;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        &::before{
            content: '';
            width: 147px;
            height: 148px;
            background-image: url('/../assets/img/box--elipse.png');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: calc(50% - 73.5px);
            transition: all .3s ease;
            @media only screen and (max-width: $md) {
                transform: scale(.8);
            }
        }
        @media only screen and (max-width: $md) {
            min-height: 120px;
            img {
                width: 80%;
            }
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 30.7%;
        width: 100%;
        margin-bottom: 25px;
        @media only screen and (max-width: $md) {
            max-width: 50%;
        }
        &:hover {
            .ourproducts__img {
                &::before {
                    transform: scale(1.2);
                }
            }
        }
    }
    &__p{
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 16px;
        color: $grey;
        letter-spacing: 0.02em;
        @media only screen and (max-width: $md) {
            font-size: 14px;
            text-align: left;
        }
    }

}
