 .btn {
    background-color: transparent;
    border: 0;
    box-shadow: 0;
    border-radius: 0;
    font-family: $Montserrat;
    &__red {
        background-color: $red;
        color: $white;
        transition-duration: 0.3s;
        &:hover {
            background-color: $white;
            color: $red;
        }
    }
    &__cyan {
        display: inline-block;
        background-color: transparent;
        color: white;
        border: 3px solid $cyan;
        background:  $cyan;
        transition-duration: 0.3s;
        padding: 16px 30px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1em;
        &:hover {
            background-color: white;
            color: $cyan;
            border: 3px solid $cyan;
        }
    }
    &__white {
        background-color: transparent;
        color: $white;
        border: 3px solid $white;
        transition-duration: 0.3s;
        padding: 16px 30px;
        &:hover {
            background-color: $cyan;
            color: $white;
            border: 3px solid $cyan;
        }
    }
    &__orange {
        background-color: $orange;
        color: $white;
        border: 3px solid $orange;
        transition-duration: 0.3s;
        padding: 16px 30px;
        &:hover {
            background-color: $white;
            color: $orange;
            border: 3px solid $orange;
        }
    }
    &_center {
        display: block;
        max-width: 380px;
        margin: 0 auto;
        text-align: center;
    }
}


.slick-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        margin: 0 11px;
        flex-shrink: 0;
        button {
            border: 2px solid $deep-sea-green;
            background: white;
            font-size: 0;
            height: 16px;
            width: 16px;
            border-radius: 50px;
            display: block;
        }
    }
    .slick-active {
        button {
            background: $deep-sea-green;
        }
    }
}

.modulesSlider0 .slick-dots {
    top: 80px;
}