html, body {
    position: relative;
    background-color: $white;
    font-size: 16px;
    min-height: 320px;
    margin: 0;
    @media only screen and (max-width: $md) {
        font-size: 14px;
        overflow-x: hidden;
    }
}
body {
    overflow-x: hidden;
}
.iosBug {
    height: 100%;
    width: 100%;
    position: fixed;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    @media only screen and (min-width: $lg1) {
        width: 1140px;
    }
    @media only screen and (min-width: $sm) and (max-width: $md) {
        width: 750px;
        padding: 0 15px;
    }
   
}
.container__half {
    &--left {
        margin-left: auto;
        padding: 0 15px;
        @media only screen and (min-width: $lg1) {
            width: calc(1140px / 2);
        }
        @media only screen and (min-width: $sm) and (max-width: $md) {
            width: 750px;
            padding: 0 15px;
            margin: 0;
        }
    }
    &--right {
        margin-right: auto;
        padding: 0 15px;
        @media only screen and (min-width: $lg1) {
            width: calc(1140px / 2);
        }
        @media only screen and (min-width: $sm) and (max-width: $md) {
            width: 750px;
            padding: 0 15px;
            margin: 0;
        }
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
a {
    text-decoration: none;
    //color: $grey;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.hidden__title {
    position: absolute;
    left: -10000px;
    top: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
// html {
//     background-image: url('/assets/img/pixel.jpg');
//     background-position: top 194px left;
//     opacity: 0.5; 
// }

//SAMPLE ---------> 
