


//include third-party fonts
@mixin font-face($font-name, $file-name, $font-weight) {
    @font-face {
        font-family: quote($font-name);
        src: url("/../assets/fonts/"+ $file-name + ".woff2") format("woff2"),
            url("/../assets/fonts/"+ $file-name + ".woff") format("woff");
        font-weight: $font-weight;
        font-style: normal;
    }
}
//include icon fonts/assets
@mixin font-face-ico($font-name,
$file-name) {
    @font-face {
        font-family: quote($font-name);
        src: url("./assets/fonts/"+ $file-name + ".eot");
        src: url("./assets/fonts/"+ $file-name + ".eot?#iefix")
                format("embedded-opentype"),
            url("./assets/fonts/"+ $file-name + ".woff") format("woff"),
            url("./assets/fonts/"+ $file-name + ".ttf") format("truetype"),
            url("./assets/fonts/"+ $file-name + ".svg#svgFontName") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}
//font size rem + px
@mixin font-size($sizeValue) {
    font-size: ($sizeValue * 16) + px; //base 16px
    font-size: $sizeValue + rem;
}

//rem-calc from foundation
$rem-base: 16px;
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
@function convert-to-rem($value, $base-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}
@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);
  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }
  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

