.title{
  text-align: center;
  @media only screen and (max-width: $sm) {
    margin-bottom: 35px;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: $Montserrat;
    font-size: rem-calc(24);
    font-weight: 700;
    color: $grey;
    letter-spacing: 0.1em;
    position: relative;
    display: inline-block;
    margin: 0 auto 60px;
    &::before{
      content: '';
      border: 7.5px solid transparent;
      border-bottom: 15px solid $alizarin-crimson;
      position: absolute;
      left: -28px;
      top: -2px;
      @media only screen and (max-width: $sm) {
        left: -16px;
        top: -6px;
      }
    }
    @media screen and (max-width: 1024px) {
      margin-top: 0;
    }
    @media only screen and (max-width: $sm) {
      font-size: 18px;
      margin-bottom: 26px;
      display: inline;
    }
  }
}