//fonts
$OpenSans: 'OpenSans', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

//colors
$white: #ffffff;
$black: #000000;
$cyan: #00a99d;
$red: #e3001a;
$grey: #757575;
$orange: #e24307;

//new-colors
$deep-sea-green: #0c5c63;
$alizarin-crimson: #e42127;


//sizes
$lg: 1200px;
$lg1: 1199px;
$md: 992px;
$md1: 993px;
$sm: 767px;
$xs: 575px;