.scheme {
    padding: 50px 0;
    background-color: $deep-sea-green;
    .container {
        position: relative;
    }
    &__line {
        position: absolute;
        left: 58px;
        width: 2px;
        background-color: $white;
        height: calc(100% + 50px);
        &--top {
            top: 25px;
        }
        &--bottom {
            bottom: 25px;
            @media only screen and (max-width: $xs) {
                height: 0px;
            }
        }
        @media only screen and (max-width: $md) {
            left: 27px;
        }
        @media only screen and (max-width: $sm) {
            left: 20px;
        }
    }
    h2 {
        margin-bottom: 30px;
        color: $white;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        align-items: center;
        transition-duration: 0.3s;
        @media only screen and (max-width: $sm) {
            margin-bottom: 20px;
            align-items: flex-start;
        }
        &:hover {
            .scheme__p {
                text-shadow: 0 0 1px $white
            }
            .scheme__circle {
                background-color: $red;
            }
        }
    }
    &__circle {
        height: 46px;
        width: 46px;
        background-color: $deep-sea-green;
        border: 6px solid $white;
        border-radius: 50%;
        margin: 0 35px;
        transition-duration: 0.3s;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-family: inherit;
        color: white;
        font-weight: 600;
        @media only screen and (max-width: $md) {
            margin: 0 5px;
        }
        @media only screen and (max-width: $sm) {
            border: 2px solid $white;
            height: 30px;
            width: 34px;

        }
    }
    &__number {
        margin-right: 17px;
        width: 20px;
    }
    &__p, &__number {
        font-family: $Montserrat;
        font-size: rem-calc(16);
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.1em;
        color: $white;
    }
    &__p {
        width: 88%;
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: $md) {
            padding-left: 25px;
        }   
        @media only screen and (max-width: $sm) {
            width: 100%;
            padding-left: 10px;
        }
    }
    &__btnContainer {
        text-align: center;
    }
    &__btn {
        margin-top: 15px;
        font-size: rem-calc(16);
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding: 16px 49px;
        max-width: 100%;
        text-align: center;
        @media only screen and (max-width: $sm) {
            padding: 16px 29px;
        }
    }
}