<section class="section scheme" id="schemeOfWork">
    <div class="container">
	    <div class="title">
		    <h2>Схема работы</h2>
	    </div>
        <div class="scheme__item">
            <div class="scheme__line scheme__line--top"></div>
            <div class="scheme__circle">1</div>
            <div class="scheme__p">
	            Заполнение заявки и опросного листа на подбор/расчет/изготовление ИТП SEMPAL
            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line"></div>
            <div class="scheme__circle">2</div>
            <div class="scheme__p">
	            Выезд специалиста для бесплатного обследования Вашего объекта и определения схемы подключения к тепловой сети, технического состояния существующего оборудования.
            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line"></div>
            <div class="scheme__circle">3</div>
            <div class="scheme__p">
	            Выбор схемы реконструкции системы отопления и горячего водоснабжения. Технический подбор оборудования, необходимого для изготовления индивидуального теплового пункта с учетом Ваших пожеланий. После обсуждения всех деталей - выдача предварительной сметы (стоимость оборудования, монтажных и пусконаладочных работ).

            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line"></div>
            <div class="scheme__circle">4</div>
            <div class="scheme__p">
	            Подготовка документов для получения технических условий от энергоснабжающей организации
            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line"></div>
            <div class="scheme__circle">5</div>
            <div class="scheme__p">
	            Разработка проектной документации на индивидуальный тепловой пункт

            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line"></div>
            <div class="scheme__circle">6</div>
            <div class="scheme__p">
	            Согласование Проекта в энергоснабжающей организации и получение Технического решения.

            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line"></div>
            <div class="scheme__circle">7</div>
            <div class="scheme__p">
	            Закупка необходимых комплектующих и изготовление ИТП на производственных мощностях SEMPAL
            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line"></div>
            <div class="scheme__circle">8</div>
            <div class="scheme__p">
	            Выполнение монтажных работ по присоединению модульного блока к существующим трубопроводам тепловой сети и пуско-наладочные работы
            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line"></div>
            <div class="scheme__circle">9</div>
            <div class="scheme__p">
	            Сдача ИТП в эксплуатацию с подписание необходимых актов, форм, журналов в теплоснабжающей и эксплуатирующей организации, а также в Энергонадзоре
            </div>
        </div>
        <div class="scheme__item">
            <div class="scheme__line scheme__line--bottom"></div>
            <div class="scheme__circle">10</div>
            <div class="scheme__p">
	            Передача полного комплекта Проектной документации на установленный на Вашем объекте ИТП.

            </div>
        </div>
        <div class="scheme__btnContainer">
            <button type="button" class="btn btn__red scheme__btn" onclick="openPopup(1); gtag ( 'event', 'prokonsul\'tirovat\'sya', {'Event_category': 'button'});">
                ПРОКОНСУЛЬТИРОВАТЬСЯ
            </button>
        </div>
    </div>
</section>