.whyus {
    padding-top: 50px;
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__col {
        position: relative;
        width: 50%;
        min-height: 300px;
        height: 300px;
        @media only screen and (max-width: $md) {
            width: 100%;
            height: auto;
            min-height: auto;
            padding: 0 0 40px;
        }
      
        @media only screen and (max-width: $sm) {
        }
        color: $deep-sea-green;
        background-color: $white;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        &--bg {
            color: $white;
            background-color: $deep-sea-green;
        }
        &:nth-child(3) {
            z-index: 3;
        }
        &:hover {
            box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
        }
        @media only screen and (max-width: $md) {
            &:nth-child(3) {
                order: 4;
            }
            &:nth-child(4) {
                order: 3;
            }
        }
    }
    &__title {
        position: relative;
        text-transform: uppercase;
        font-family: $Montserrat;
        font-size: rem-calc(24);
        font-weight: 700;
        letter-spacing: 0.1em;
        margin: 40px 0 30px;
        @media only screen and (max-width: $md) {
            margin-top: 80px;
        }
        @media only screen and (max-width: $sm) {
            margin-top: 30px;
            font-size: 18px;
            letter-spacing: 0.02em;
        }
        &--right {
            text-align: right;
            @media only screen and (max-width: $md) {
                text-align: left;
                margin-left: 0;
            }
        }
    }
    &__text {
        position: relative;
        font-family: $Montserrat;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        z-index: 5;
        padding-right: 15px;
        text-align: justify;
        @media only screen and (max-width: $md) {
            padding-right: 0;
        }
        @media only screen and (max-width: $sm) {
            text-align: left;
            font-size: 14px;
            line-height: 1.7em;
        }
        &--extraPadding {
            padding-left: 15px;
            padding-right: 0;
            @media only screen and (max-width: $md) {
                padding-left: 0;
            }
        }
    }
    &__img {
        position: absolute;
        width: auto;
    }
    &--economy {
        height: 290px;
        top: 28px;
        right: -37px;
        @media only screen and (max-width: $sm) {
            top: 10px;
        }
    }
    &--target {
        height: 250px;
        top: 20px;
        right: -40px;
        @media only screen and (max-width: $lg1) {
            right: 0;
        }
        @media only screen and (max-width: $sm) {
            top: 10px;
        }
    }
    &--safe {
        height: 240px;
        top: 40px;
        left: -10px;
        @media only screen and (max-width: $md) {
            left: auto;
            right: -37px;
        }
        @media only screen and (max-width: $sm) {
            top: 10px;
        }
    }
    &--money {
        height: 240px;
        top: 50px;
        left: -48px;    
        @media only screen and (max-width: $md) {
            left: auto;
            right: -40px;
        }
        @media only screen and (max-width: $sm) {
            top: 10px;
        }
    }
}