<section class="section whyus" id="whyUs">
    <div class="container">
	    <div class="title">
		    <h2>Почему мы</h2>
	    </div>
    </div>
    <div class="whyus__row">
        <div class="whyus__col whyus__col--bg">
            <img src="./assets/img/svg/garanty-l.svg" alt="economy" class="whyus__img whyus--economy">
            <div class="container__half--left">
                <div class="whyus__title">КАЧЕСТВО</div>
                <div class="whyus__text">
	                При разработке Индивидуальных тепловых пунктов мы используем самые современные технические и проектные решения. Качество продукции подтверждено международными сертификатами ISO 9001:2015, ISO 14001:2015 и OHSAS 18001:2007
                </div>
            </div>
        </div>
        <div class="whyus__col">
            <img src="./assets/img/svg/target.svg" alt="economy" class="whyus__img whyus--target">
            <div class="container__half--right">
                <div class="whyus__title whyus__title--right">
	                обслуживание по всей<br> Украине
                </div>
                <div class="whyus__text whyus__text--extraPadding">
	                SEMPAL обеспечивает проектирование, поставку, монтаж и пуско-наладку ИТП в любой точке Украины.
                </div>
            </div>
        </div>
        <div class="whyus__col">
            <img src="./assets/img/svg/safe.svg" alt="economy" class="whyus__img whyus--safe">
            <div class="container__half--left">
                <div class="whyus__title">НАДЕЖНОСТЬ</div>
                <div class="whyus__text">Перед окончательной сборкой теплового пункта каждая отдельная деталь проходит серию механических и гидравлических испытаний. Поэтому все выпускаемые нами ИТП остаются высокоточными и надежными на протяжении долгих лет эксплуатации.</div>
            </div>  
        </div>
        <div class="whyus__col whyus__col--bg">
            <img src="./assets/img/svg/money.svg" alt="economy" class="whyus__img whyus--money">
            <div class="container__half--right">
                <div class="whyus__title whyus__title--right">
	                гарантия от производителя
                </div>
                <div class="whyus__text whyus__text--extraPadding">
	                SEMPAL гарантирует бесплатное устранение любых неисправностей, возникших по вине изготовителя на протяжении первого года эксплуатации оборудования.
                </div>
            </div>
        </div>
    </div>
</section>