.noscroll { 
    position: fixed; overflow-y: scroll 
}
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba($color: $black, $alpha: 0.75);
    opacity: 0;
    z-index: -1;
    transition-duration: 0.5s;
    &--active {
        opacity: 1;
        z-index: 200;
    }
    &:hover {
        opacity: 1;
        z-index: 200;
    }
    &__form {
        //background-color: #00605f;
        background-image: url('/../assets/img/popup__bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        border: 3px solid $white;
        width: 480px;
        padding: 50px 30px;
        display: relative;
        @media only screen and (max-width: $sm) {
            width: 98%;
            margin: 0 auto;
        }
    }
    #consultationRequest, #phoneRequest, #requestOrderPopup, #requestSpamPopup {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //background-color: $cyan;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        font-family: $OpenSans;
        font-size: rem-calc(18);
        line-height: 1.75;
        font-weight: 400;
        text-align: center;
        color: $white;
        opacity: 0;
        z-index: -1;
        transition-delay: 0.4s;
        transition-duration: 0.3s;
        b {
            font-weight: 700;
        }
    }
    &--active {
        opacity: 1 !important;
        z-index: 10 !important;
    }
    &__content { 
        position: relative;
        display: none;
    }
    &__close {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        transition-duration: 0.3s;
        z-index: 205;
        &:hover {
            span {
                background-color: $red;
            }
        }
        span {
            position: absolute;
            top: 15px;
            height: 4px;
            border-radius: 10px;
            background-color: $white;
            left: 0;
            right: 0;
            transition-duration: 0.3s;
            &:nth-child(1) {
                transform: rotate3d(0,0,1,45deg);
            }
            &:nth-child(2) {
                transform: rotate3d(0,0,1,-45deg);
            }
        }
    }
    &__title {
        text-transform: uppercase;
        font-family: $OpenSans;
        font-size: rem-calc(24);
        line-height: 1.5;
        font-weight: 700;
        color: $grey;
        letter-spacing: 0.2em;
        text-align: center;
        color: $white;
        margin-bottom: 34px;
    }
    &__input {
        display: block;
        border: 0;
        font-family: $OpenSans;
        font-size: rem-calc(14);
        font-weight: 400;
        color: $cyan;
        padding: 10px 18px;
        border-radius: 2px !important;
        background-color: #ccdad2;
        width: 100%;
        margin-bottom: 25px;
        @media only screen and (max-width: $md) {
            font-size: 16px;
        }
        &::-webkit-input-placeholder {
            color: $cyan;
            text-transform: uppercase;
            letter-spacing: 0.2em;

        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: $cyan;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: $cyan;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $cyan;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
    }
    &__label {
        display: block;
        text-transform: uppercase;
        font-family: $OpenSans;
        font-size: rem-calc(14);
        font-weight: 400;
        color: $white;
        letter-spacing: 0.2em;
        color: $white;
        margin-bottom: 10px;
        @media only screen and (max-width: $md) {
            font-size: 16px;
        }
    }
    &__btn {
        font-family: $OpenSans;
        display: block;
        margin: 35px auto 0;
        font-size: rem-calc(12);
        font-weight: 700;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        padding: rem-calc(18 50);
    }

    p {
        font-family: "OpenSans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #757575;
        margin-bottom: 12px;
    }
}