<div class="popup">
    <div class="popup__content popup__first">
        <div class="popup__close" onclick="closePopup()">
            <span></span>
            <span></span>
        </div>
        <div class="popup__form">
            <div id="consultationRequest"></div>
            <div class="popup__title">
                КОНСУЛЬТАЦИЯ
            </div>
            <form onsubmit="consultationForm(event)" id="consultationForm" class="popup__popup">
                <label class="popup__label" for="name1">Введите ваше имя:</label>
                <input class="popup__input" type="text" id="name1" placeholder="Имя и фамилия" required>
                <label class="popup__label" for="tel1">Введите ваш телефон:</label>
                <input class="popup__input" type="tel" id="tel1" placeholder="+38 (0--) --- -- --" required>
                <div class="popup__btnContent">
                    <button type="submit" class="btn btn__red popup__btn" onClick="gtag ( 'event', 'prokonsul\'tirovat\'sya 1', {'Event_category': 'button'});">
                        ПРОКОНСУЛЬТИРОВАТЬСЯ
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="popup__content popup__second">
        <div class="popup__close" onclick="closePopup()">
            <span></span>
            <span></span>
        </div>
        <div class="popup__form">
            <div id="phoneRequest"></div>
            <div class="popup__title">
                ЗАКАЗАТЬ ЗВОНОК
            </div>
            <form id="phoneForm" onsubmit="phoneForm(event)" class="popup__popup">
                <label class="popup__label" for="name2">Введите ваше имя:</label>
                <input class="popup__input" type="text" id="name2" placeholder="Имя и фамилия" required>
                <label class="popup__label" for="tel2">Введите ваш телефон:</label>
                <input class="popup__input" type="tel" id="tel2" placeholder="+38 (0--) --- -- --" required>
                <div class="popup__btnContent">
                    <button type="submit" class="btn btn__red popup__btn" onclick="gtag ( 'event', 'zakazat 1', {'Event_category': 'button'});">
                        ЗАКАЗАТЬ
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="popup__content popup__third">
        <div class="popup__close" onclick="closePopup()">
            <span></span>
            <span></span>
        </div>
        <div class="popup__form">
            <div class="form__title">
                ЗАКАЗАТЬ ИНДИВИДУАЛЬНЫЙ ТЕПЛОВОЙ ПУНКТ
            </div>
            <div id="requestOrderPopup"></div>
            <form onsubmit="orderPopupForm(event)" id="formOrderPopup" class="form__form">
                <label class="form__label" for="nameOrderPopup">Введите ваше имя:</label>
                <input class="form__input" type="text" id="nameOrderPopup" placeholder="Имя и фамилия" required>
                <label class="form__label" for="telOrderPopup">Введите ваш телефон:</label>
                <input class="form__input" type="tel" id="telOrderPopup" placeholder="+38 (0--) --- -- --" required>
                <label class="form__label" for="emailOrderPopup">Введите ваш e-mail:</label>
                <input class="form__input" type="email" id="emailOrderPopup" placeholder="e-mail" required>
                <input style="display:none;" type="text" name="honeypot" id="HU-honeypot">
                <button type="submit" class="btn btn__red form__btn" onclick="gtag ( 'event', 'otpravit', {'Event_category': 'button'});">
                    ОТПРАВИТЬ
                </button>
            </form>
        </div>
    </div>
    <div class="popup__content popup__fourth">
        <div class="popup__close" onclick="closePopup()">
            <span></span>
            <span></span>
        </div>
        <div class="popup__form">
            <div class="form__title">
                7 способов снижения стоимости отопления для предприятий<br>
                <p style="color: #ffffff;">Узнайте, как сократить Ваши расходы</p>
            </div>
            <div id="requestSpamPopup"></div>
            <form onsubmit="spamPopupForm(event)" id="formSpamPopup" class="form__form">
                <label class="form__label" for="nameSpamPopup">Введите ваше имя:</label>
                <input class="form__input" type="text" id="nameSpamPopup" placeholder="Имя и фамилия" required>
                <label class="form__label" for="telSpamPopup">Введите ваш телефон:</label>
                <input class="form__input" type="tel" id="telSpamPopup" placeholder="+38 (0--) --- -- --" required>
                <label class="form__label" for="emailSpamPopup">Введите ваш e-mail:</label>
                <input class="form__input" type="email" id="emailSpamPopup" placeholder="e-mail" required>
                <input style="display:none;" type="text" name="honeypot" id="HU-honeypot">
                <button type="submit" class="btn btn__red form__btn" onclick="gtag ( 'event', 'poluchit\' instrukciyu', {'Event_category': 'button'});">
                    Получить инструкцию
                </button>
            </form>
        </div>
    </div>
</div>