<!DOCTYPE html>
<html lang="ru">
<head>
    {{>parts/head}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body id="main">
    <h2 class="hidden__title">Индивидуальный тепловой пункт Sempal</h2>
    {{!-- header --}}
    {{>parts/header/_header}}
    {{!-- main --}}
    <main class="main">
        {{!-- intro --}}
        {{>sections/intro/_intro}}
        {{!-- modules --}}
        {{>sections/modules/_modules}}
        {{!-- advantages --}}
        {{!-- >sections/advantages/_advantages --}}
	    {{!-- Who are our products for --}}
        {{>sections/ourproducts/_ourproducts}}
	    {{!-- main functions of ITP --}}
        {{>sections/itpfunctions/_itpfunctions}}
	    {{!-- The principle of the ITP --}}
        {{>sections/principles/_principles}}
        {{!-- schemeOfWork --}}
        {{>sections/scheme/_scheme}}
	    {{!-- State co-financing programs --}}
	    {{>sections/co-financing/_co-financing}}
        {{!-- whyus --}}
        {{>sections/whyus/_whyus}}
        {{!-- about us --}}
        {{>sections/aboutus/_aboutus}}
	    {{!-- clients --}}
        {{>sections/clients/_clients}}
	    {{!-- faq --}}
	    {{!-- >sections/faq/_faq --}}
	    {{!-- form --}}
	    {{>sections/form/_form}}
        {{!-- iqenergy --}}
        {{!-- >sections/iqenergy/_iqenergy --}}
        {{!-- contacts --}}
        {{>sections/contacts/_contacts}}
    </main>
    {{!-- footer --}}
    {{>parts/footer/_footer}}
    {{!-- popup --}}
    {{>parts/popup/_popup}}

    {{!--scripts --}}
    {{> scripts}}
</body>
</html>